body {
    margin: 0px;
    background: #ECE1CB;
}

#header {
    background: #C46500; color: white;
    font-size: 16px;
    vertical-align: middle;
}

#header > #name {
    font-weight: bold;
    float: left;
    margin: 16px;
}

#menu a, #menubutton a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font: arial; font-size: 13px;
}

.menuitem:hover {
    background: #ED960B;
    cursor: pointer;
}

.selectedmenuitem {
    font-size: 15px;
    font-weight: bolder;
}

#sidepanel {
    position: absolute;
    z-index: -1;
    top: 75px;
    left: 10px;
    bottom: 30px;
    width: 177px;
    background: rgba(245, 166, 82, 0.4);
    box-shadow: 0 0 20px black;
    padding-top: 2px;
    padding-left: 2px;
    padding-right: 2px;
}

#roomsholder {
    overflow-y: auto;
    position: absolute;
    top: 180px;
    left: 2px;
    bottom: 10px;
}

#roomsholder::-webkit-scrollbar {
    border: 1px solid #000;
    padding: 2px 0;
    background-color: #737272;
    width: 4px;
}

.readingheaders {
    font-weight: bold;
    font-size: 20px;
    margin-top: 50px;
}

/* .dataholder + .readingheaders {
    margin-top: 50px;
} */

#infoholder {
    border: 3px inset rgb(245, 166, 82);
    background: rgba(245, 166, 82);
    margin: 1px;
    padding-left: 5px;
    padding-top: 5px;
    color: white;
}

#perkwhlabel {
    font-size: 15px;
    display: inline;
}

#perkwhbox {
    display: inline;
    float: right;
}

#monthlabel {
    font-size: 15px;
    display: inline;
}

#monthbox {
    display: inline;
    float: right;
}

#yearlabel {
    font-size: 15px;
    display: inline;
}

#yearbox {
    display: inline;
    float: right;
}

#infoheader {
    display: inline-block;
    text-align: center;
    margin-bottom: 10px;
}

.holderrrr {
    display: block;
    margin-bottom: 10px;
}

.holderrrr:hover {
    cursor: default;
}

.smenuitem + .smenuitem {
    margin-top: 8px;
}

.smenuitem:hover {
    cursor: pointer;
}

#tempdiv {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#settingsmenu {
    position: fixed; top: 110px;
    left: 15px; background: gray;
    padding: 16px;
    color: white;
}

.settingsbox {
    width: 100px;
    border: 1px solid gray;
    height: 20px;
    margin-left: 10px;
    text-align: center;
    font-size: 15px;
    color: red;
    font-weight: bold;
    background: white;
}

.rooms {
    display: block;
    height: 75px;
    width:  170px;
    background: rgb(211, 126, 34);
    margin-bottom: 2px;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(122, 66, 6);
}

#settingsholder {
    width: 168px;
    height: 40px;
    margin: 2px;
    border-bottom-width: 2px;
    border-bottom-style: dashed;
    border-bottom-color: gray;
    padding-top: 3px;
}

#settings {
    height: 30px;
    width:  30px;
    border-radius: 25px;
}

#settings:hover {
    cursor: pointer;
    height: 35px;
    width: 35px;
}

.rooms:hover {
    background: darkgray;
    cursor: pointer;
}

.roomiconholder {
    display: inline-block;
    height: 75px;
    width: 75px;
    background: rgb(153, 83, 8);
}

.roomicon {
    height: 75px;
    width: 75px;
}

.roomlabelholder {
    float: right;
    color: white;
    width: 90px;
    height: 75px;
    text-align: center;
}

#contentbody {
    position: absolute;
    z-index: -1;
    top: 75px;
    left: 195px;
    bottom: 30px;
    right: 5px;
    overflow: auto;
    border: 8px inset rgb(223, 179, 91);
    padding-left: 10px;
    background: rgb(228, 192, 122);
}

#contentbody::-webkit-scrollbar {
    border: 1px solid #737272;
    padding: 2px 0;
    background-color: white;
    width: 10px;
}

#contentbody::-webkit-scrollbar-thumb {
    background-color: #737272;
    width: 2px;
    border: 1px outset white;
}

#contentbody::-webkit-scrollbar-button {
    background-color: #737272;
    width: 2px;
    border: 1px outset white;
}

#tenantwrapper {
    display: inline-block;
    border: 3px inset rgb(212, 188, 140);
    background: rgb(212, 188, 140);
    text-align: center;
    padding: 10px;
    overflow-x: auto;
}

#tenantholder {
    display: inline-block;
    text-align: center;
}

.bholder {
    width: auto;
}

.tenantbutton {
    height: 40px;
    width: 180px;
    background: #C46500;
    border: 1px solid #C46500;
    border-radius: 4px;
    border-style: groove;
    color: white;
}

.tenantbutton:hover {
    cursor: pointer;
}

#accountscontentbody {
    position: absolute;
    z-index: -1;
    top: 75px;
    left: 0;
    bottom: 10px;
    right: 0;
    text-align: center;
}

#accountstableholder {
    display: inline-block;
}

#accountstable, th, td {
	border-collapse: collapse;
}

#usertable, th, td {
    border-collapse: collapse;
}

#usertablewrapper {
    display: inline-block;
    width: auto;
    text-align: center;
    margin-bottom: 30px;
}

td, th {
	border: 1px solid gray;
	padding : 5px 10px 5px 10px;
	text-align: center;
}

td {
	border: 1px solid gray;
	padding : 5px 10px 5px 10px;
    text-align: center;
}

th {
	border: 1px solid gray;
	color: white;
	background-color: #ED960B;
    height : 50px;
    vertical-align: middle;
}

.selectedrow {
    background: #C46500;
    color: white;
}

.tbrow {
    color: black;
    background: white;
}

.tbrow:hover {
    cursor: pointer;
}

.dataholder {
    width: 100%;
}

.dataholder > p {
    margin-left: 15px;
    margin-top: 15px;
}

@media only screen and (min-width: 700px) {
    #menu {
        float: right;
        display: block;
        padding: 16px;
    }

    .menuitem {
        display: inline;
    }

    .selectedmenuitem {
        display: inline;
    }

    .menuitem + .menuitem {
        border-left: 1px solid white;
        margin-left: 8px; padding-left: 8px;
    }

    .selectedmenuitem + .menuitem {
        border-left: 1px solid white;
        margin-left: 8px; padding-left: 8px;
    }

    .menuitem + .selectedmenuitem {
        border-left: 1px solid white;
        margin-left: 8px; padding-left: 8px;
    }

    #menubutton {
        display: none;
    }

    #accountstablewrapper {
        box-shadow: 0 0 20px black;
        max-height: 350px;
        overflow-y: auto;
    }
}

@media only screen and (max-width: 699px) {
    #menubutton {
        float: right;
        font-weight: bold;
        padding: 16px;
    }

    #menu {
        position: fixed; top: 48px;
        right: 0px; background: #ED960B;
        padding: 16px;
    }

    #menubutton:hover {
        cursor: pointer;
    }

    .showmenu {
        display: block;
    }

    .hiddenmenu {
        display: none;
    }

    .menuitem + .menuitem {
        margin-top: 8px;
    }

    .selectedmenuitem + .menuitem {
        margin-top:  8px;
    }

    .menuitem + .selectedmenuitem {
        margin-top:  8px;
    }

    #accountstablewrapper {
        box-shadow: 0 0 20px black;
    }

    #accountscontentholder {
        overflow-y: auto;
    }
}

.clear {
    clear: both;
}

#content {
    height: 100%;
    width: 100%;
}

#popupbackground {
    position: fixed; top: 0; bottom: 0; left: 0; right: 0;
}

#popupholder {
    display: table;
    width: 100%;
	height: 100%;
}

#popupwrapper {
    display: table-cell;
	vertical-align: middle;
    text-align: center;
}

#popup {
    display: inline-block;
    padding-bottom: 30px;
    text-align: center;
    background: white;
    box-shadow: 0 0 20px black;
    border: 5px solid #C46500;
}

#popupheader {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    background: #C46500;
    color: white;
    width: 100%;
    font-weight: bold;
}

.popuptextbox {
    height: 30px;
    width: 200px;
    margin: 15px 30px 0 30px;
    padding-left: 5px;
    border: 1px solid #C46500;
    border-radius: 4px;
}

.slabel {
    display: inline;
    margin-left: 50px;
}

.popuptext {
    margin: 0px 30px 0 30px;
    color: black;
}

.popupbutton {
    height: 40px;
    width: 180px;
    margin: 15px 30px 0 30px;
    background: #C46500;
    border: 1px solid #C46500;
    border-radius: 4px;
    border-style: groove;
    color: white;
}

.popupbutton:disabled,
.button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}
